@import url("https://fonts.googleapis.com/css2?family=Inter&family=REM:wght@400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-touch .leaflet-bar {
  border-width: 1px !important;
  border-color: #ccc !important;
}

.leaflet-container {
  font-family: inherit !important;
}

.leaflet-popup-content-wrapper {
  border-radius: 0.375rem !important;
}

.leaflet-container a.city-marker {
  color: white !important;
}
